.card-image-title {
  @apply p-2 xl:p-4;
  &:hover {
    .card-container {
      @apply border-orange drop-shadow-glow-btn-0-orange;

      &::after {
        @apply opacity-50 md:opacity-75 xl:opacity-100;
      }

      .card-image {
        @apply scale-110;
      }

      .card-title {
        @apply left-0 opacity-100;
        .type {
          @apply -translate-x-10;
        }
      }
    }
  }

  .card-container {
    @apply relative
    rounded-2xl overflow-hidden
    border-[3px] border-grey-2 transition-all duration-500

    h-[165px] w-[124px]
    md:h-[288px] md:w-[200px]
    2xl:h-[359px] 2xl:w-[274px];

    &::after {
      @apply content-[""] transition-opacity duration-200 absolute w-full h-full left-0 top-0 bg-gradient-dark-soft opacity-0;
    }

    .card-image {
      @apply w-full h-full bg-center bg-cover transition-all duration-[800ms];
    }

    .card-title {
      @apply absolute z-20 bottom-0 left-24 w-full transition-all duration-700 opacity-0;

      .card-title-container {
        @apply relative 
        ps-2 pb-1
        md:ps-4 md:pb-2;
        .title {
          @extend .title-4-sizing-1;
          @apply font-normal text-white  transition-all duration-500
          relative;
        }
        .type {
          @apply flex items-center transition-all duration-1000 
          relative left-10;
          .icon {
            @apply fill-orange 
            w-3 h-3
            md:w-4 md:h-4
            xl:w-5 xl:h-5;
          }
          .name {
            @apply ps-1 md:ps-1.5 xl:ps-2 font-semibold text-orange;
            @extend .text-2-sizing;
          }
        }
      }
    }
  }
}
