.heroes-cards {
  @apply relative py-28 overflow-hidden;
  &::before {
    @apply content-[""] absolute -z-20
    bg-cover bg-center
    w-full h-full left-0 top-0 opacity-[0.04];

    background-image: url("/images/heroes/cards/heroes-bg.png");
  }
  .heroes-cards-container {
    @apply w-fit max-w-[800px] overflow-hidden lg:overflow-visible
    relative
    lg:w-1/2
    lg:-translate-x-1/2
    mx-auto;

    &.few {
      @apply max-h-[800px] lg:max-h-none;

      &:after {
        @apply content-[""] absolute lg:hidden opacity-90
        bg-gradient-to-t from-dark-2 to-transparent
        w-full h-20
        bottom-0 left-0;
      }
    }
    &.all {
      @apply max-h-none;
    }

    .cards-container {
      @apply justify-center
      grid
      gap-2
      lg:gap-0
      grid-cols-1
      md:grid-cols-2
      lg:grid-cols-6

      lg:min-h-[500px]
      xl:min-h-[580px]

      relative
      lg:translate-x-[14%]
      xl:translate-x-[20%]
      2xl:translate-x-[30%];

      &.hovered {
        .card-image-content {
          &:hover {
            @apply lg:opacity-100  lg:z-10
            border-orange;
            .img {
              @apply scale-105;
            }
          }
        }
        .card-image-content:not(:hover) {
          @apply lg:h-[200px] lg:relative lg:opacity-0
          lg:translate-y-[100px];
        }
      }

      .card-image-content {
        @apply rounded-2xl overflow-hidden cursor-pointer
        transition-all duration-500
        bg-dark-2
        border-2 border-orange/40
        max-w-[300px] lg:max-w-none

        lg:w-[490px] xl:h-[570px];

        .card-container {
          .card-image {
            @apply w-full h-[200px] overflow-hidden;
            .img {
              @apply bg-center bg-cover transition-all duration-300
              w-full h-full;
            }
          }
          .card-content {
            @apply px-6;
            .title {
              @extend .title-4-sizing-1;
              @apply py-6
              font-bold text-orange;
            }
            .description {
              @extend .text-1-sizing;
              @apply leading-tight pb-4;
            }
          }
        }
      }
    }
  }
  .show-all {
    @extend .btn-2-orange;
    @apply flex justify-center mx-auto lg:hidden
    text-center
    min-w-[212px] font-bold
    my-5;
  }
}
