.slider {
  @apply m-auto relative 
  container bg-amber-800/20
  grid place-items-center py-10;

  @keyframes slideshow {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  &.slideshow-animation {
    @apply overflow-hidden flex-nowrap;
    .slide-track {
      animation: slideshow 4s linear infinite;
      &.reversed {
        animation-direction: reverse;
      }
    }
  }

  &:not(&.slideshow-animation) {
    .slide-track {
      @apply flex-wrap justify-evenly;
    }
  }
  /*  w-10 = 40px */
  .slide-track {
    /*  w-10 = 40px  =>  40 * count(slides)*/
    @apply w-fit flex;

    &:hover {
      animation-play-state: paused;
    }

    .slide {
      @apply h-20 
      transition-all duration-150
      items-center p-4 bg-white/10;

      &:hover {
        @apply scale-125;
      }
    }
  }
}
