.slider {
  @apply h-20 m-auto relative 
  w-[90%] bg-amber-800/20
  grid place-items-center
  overflow-hidden;

  @keyframes vertical-scroll {
    0% {
      @apply translate-x-0;
    }
    100% {
      transform: translateX(calc(-40px * 9));
    }
  }
  /*  w-10 = 40px */
  .slide-track {
    /*  w-10 = 40px  =>  40 * count(slides)*/
    @apply flex w-[calc(40px*18)];
    animation: vertical-scroll 2s linear infinite;

    &:hover {
      animation-play-state: paused;
    }

    .slide {
      @apply w-10 h-10 
      transition-all duration-150
      flex items-center p-4 bg-white/10;

      &:hover {
        @apply scale-125;
      }
    }
  }
}
