.slider {
  @apply m-auto relative 
  container 
  grid place-items-center py-2.5;

  @keyframes slideshow {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  &.slideshow-animation {
    @apply flex flex-nowrap overflow-hidden;
    .slide-track {
      animation: slideshow 25s linear infinite;

      &.reversed {
        animation-direction: reverse;
      }
    }
  }

  &:not(&.slideshow-animation) {
    .slide-track {
      @apply grid place-content-center grid-cols-2 sm:grid-cols-3 xl:grid-cols-4;
    }
  }
  /*  w-10 = 40px */
  .slide-track {
    /*  w-10 = 40px  =>  40 * count(slides)*/
    @apply w-fit flex;

    &:hover {
      animation-play-state: paused;
    }

    .slide {
      @apply h-20 
      transition-all duration-150
      items-center p-4 bg-white/10;

      &:hover {
        @apply scale-125;
      }
    }
  }
}
