.navbar {
  @apply fixed w-full text-white 
  transition-colors duration-200 
  pt-2 md:pt-3 
  px-2;
  .nav-container {
    @apply container mx-auto h-full font-quicksand
    bg-dark-2/45 rounded-full
    flex items-center    justify-end
    pl-2 pr-3 xl:pl-5 min-h-[52px];

    .logo {
      @apply w-full xl:w-auto;
      .logo-svg {
        @apply h-[26px] lg:h-7 w-fit;
      }
    }

    .links-desktop {
      @apply hidden xl:block w-full 
      pl-4 xl:pl-7;

      .link-items {
        @apply flex items-center font-bold uppercase;
        @extend .text-3-sizing-1;

        .link-item {
          @extend .btn-hover;
          @apply pr-4 xl:px-4;
        }
      }
    }

    .locale-switcher {
      @apply p-1;

      .item {
        @apply relative;
        & {
          @apply transition-all duration-150;
        }
        .elements {
          @apply flex items-center pl-2 rounded-md cursor-pointer;
          span {
            @apply block font-bold uppercase
            text-sm xl:text-base pr-1.5;
          }
          .img {
            @apply w-6 h-3.5
            xl:w-[26px] xl:h-4;
            img {
              @apply w-full h-full rounded-[3px];
            }
          }
          .arrow {
            @apply pl-1.5;
            .svg-arrow {
              @apply w-[10px] h-[10px];
            }
          }
        }
        .other-langs {
          @apply absolute invisible w-full pt-4;
          .elements {
            @apply w-[95%]  mt-1 py-0.5
            bg-dark-2/40;
          }
        }

        &:hover {
          .elements {
            @extend .btn-hover;
            .arrow {
              .svg-arrow {
                @apply -scale-y-100;
              }
            }
          }
          .other-langs {
            @apply visible;
          }
        }
      }
    }

    .menu {
      @apply flex pl-3 xl:pl-8;
      .signup {
        @extend .btn-1;
        @apply hidden xl:block text-xl leading-tight
        min-w-[130px] text-center;
      }
      .menu-mobile {
        @apply xl:hidden flex items-center;
        .menu-btn {
          .menu-icon {
            @apply w-6 h-fit;
          }
        }

        .menu-mobile-items {
          @apply absolute left-0 top-full bg-dark-2 w-full
          text-center
          transition-all duration-200 h-0
          overflow-hidden 
          opacity-0
          grid content-start pb-20 gap-y-6 pt-6;

          .links {
            .link-item {
              a {
                @apply block font-bold uppercase text-xl py-2 
                transition-all duration-200
                hover:text-orange hover:drop-shadow-glow-btn-2-orange;
              }
            }
          }
          .special-link {
            @apply block min-w-[190px] mx-auto text-base font-bold;
            @extend .btn-2-orange;
          }

          .links-iconic {
            @apply flex gap-x-6 mx-auto pt-5;
            .link-item {
              a {
                svg {
                  @apply w-7 h-7 transition-all duration-200 fill-grey;

                  &:hover {
                    @apply fill-orange drop-shadow-glow-btn-1-orange;
                  }
                }
              }
            }
          }
        }
      }
    }

    /* menu mobile on mode */
  }

  &.mobile-menu-on {
    @apply bg-dark-2 xl:bg-transparent;
    .nav-container {
      .menu {
        .menu-mobile {
          .menu-mobile-items {
            @apply h-screen opacity-100 
            xl:opacity-0 xl:h-0;
          }
        }
      }
    }
  }
}
