.welcome {
  @apply bg-[34%_center] xl:bg-center bg-cover
  relative z-10
  grid grid-cols-1  min-h-screen  pt-24 content-center xl:content-end;

  .fire-particles {
    @apply absolute -z-10
    w-full overflow-hidden bottom-0 left-0;
    .fire-particles-container {
      @apply flex flex-nowrap justify-between;
      .left {
      }
      .right {
        @apply self-end;
      }

      .img {
        @apply h-[112px] w-[270px]
        xl:h-[274px] xl:w-[658px] 
        bg-cover bg-center;
      }
      .img-fade-1 {
        @apply opacity-50;
      }
      .img-fade-2 {
        @apply opacity-25;
      }
      .img-reversed {
        @apply -scale-100;
      }
      .mobile-hide {
        @apply hidden xl:block;
      }
    }
  }

  .welcome-container {
    .welcome-content {
      @apply text-center w-full h-full
      xl:container xl:mx-auto xl:text-left px-2
      xl:pb-7;
      .title {
        @extend .title-2-sizing;

        @apply font-bold 
        xl:max-w-[800px]
        uppercase
        pb-1.5 md:pb-4;
      }

      .sub-title {
        @extend .title-3-sizing;
        @apply inline-block text-orange font-bold font-outlined
        uppercase
        
        pb-2 md:pb-6;
        /* outline with css but not looks good: */
        /*
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ff5c00;
        */
      }
      .text {
        @extend .text-1-sizing;
        @apply max-w-[850px] mx-auto xl:m-0 font-medium pb-11;
      }
      .btn {
        @extend .btn-2-orange, .title-5-sizing;
        @apply inline-block text-center min-w-[212px] w-fit font-medium;
      }
    }
  }
  .welcome-slides {
    @apply pt-10 hidden xl:block
    overflow-hidden
    pb-10 2xl:pb-20;
    .slideshow {
      @apply mx-auto;
    }
  }
}

/* 5 8 59*/
